@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #f45151,
    #f84172,
    #f03d95,
    #db48b9,
    #b75ad9,
    #ab61e6,
    #9d69f2,
    #8a70fe,
    #a76dff,
    #c26aff,
    #dc65fe,
    #f45ffb
  );
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}
.navbar {
  padding: 25px 10px;
}
.nav-ul {
  justify-content: space-between;
}

.nav-ul img {
  width: 300px;
}
.nav-ul li {
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.nav-ul li a {
  transition: all 0.3s ease;
}
.nav-ul li a:hover {
  text-decoration: underline wavy #ffffff 4px;
  transform: scale(1.1) translateY(-2px);
}
form input {
  font-size: 1.5em;
  padding: 5px 15px;
  color: #333;
  margin-right: 10px;
}
form button {
  padding: 5px 10px;
  font-size: 1.5em;
  color: #333;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1.1) translateY(-3px);
}

.hero {
  padding: 20px 20px;
}
.meals {
  margin-top: 40px;
}
.meal img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.meal p {
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  row-gap: 22px;
  column-gap: 30px;
}
.one-meal {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, auto));
  grid-template-areas:
    "im im im im"
    "d d d d";
  margin-top: 20px;
}
.one-meal img {
  width: 100%;
  height: 400px;
  grid-area: im;
  object-fit: cover;
  border-radius: 10px;
}
.details {
  margin-top: 20px;
  grid-area: d;
  color: #111;
}
.common {
  justify-content: space-between;
}
.c,
.a {
  width: 20%;
}
.common h1 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 18px;
  margin-right: 10px;
}
.common span {
  font-size: 1.1em;
  letter-spacing: 2px;
  align-self: flex-start;
}
.l h1 {
  align-self: flex-start;
}
.l span {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.loading {
  padding: 20px 20px;
  text-align: center;
  margin-top: 50px;
  font-size: 2.5em;
  letter-spacing: 6px;
  text-transform: uppercase;
}
/* Error */
.error {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  margin-top: 50px;
  font-size: 1.8em;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #333;
}
.home-btn {
  font-size: 0.8em;
  margin-top: 20px;
  background: #111;
  padding: 10px 20px;
  border-radius: 10px;
}
.about {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  margin-top: 50px;
  font-size: 1.2em;
  line-height: 1.4;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: #333;
}
/* Contact Component */
.contact {
  margin-top: 60px;
  padding: 20px;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, auto));
  grid-template-areas:
    "h h h h "
    "a a s s"
    "a a s s"
    "a a s s";
  row-gap: 20px;
  column-gap: 20px;
  color: #222;
}
.contact header {
  grid-area: h;
}

.contact header h1 {
  font-size: 3em;
  letter-spacing: 2px;
}

.contact header p {
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 15px 0;
}

.contact .aside {
  grid-area: a;
  flex-direction: column;
}

.contact .aside div {
  margin-bottom: 40px;
  align-self: flex-start;
}

.contact .aside div h3 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.contact .section {
  grid-area: s;
}

.section h3 {
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.section span {
  font-size: 1em;
  letter-spacing: 1px;
}

.social-links {
  width: 100%;
  margin-top: 25px;
  justify-content: space-between;
  font-size: 2em;
  cursor: pointer;
}

/* Services */
.service {
  margin-top: 60px;
  text-align: center;
  padding: 50px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333;
}

.example {
  display: block;
  padding: 10px 0 0;
  letter-spacing: 1px;
  word-spacing: 5px;
}

/* Menu Bar */
.menu,
.close {
  cursor: pointer;
  display: none;
}

@media (max-width: 880px) {
  .navbar {
    position: relative;
  }

  .nav-ul {
    width: auto;
    height: 55vh;
    padding: 40px 40px;
    background: darkorchid;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    z-index: 5;
  }
  .nav-show {
    transform: translateX(0%);
  }

  .menu {
    position: absolute;
    display: block;
    font-size: 1.7em;
    top: 20px;
    left: 20px;
  }
  .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5em;
    color: #990202;
  }
}
@media (max-width: 600px) {
  form input {
    width: 100%;
    font-size: 1em;
    padding: 8px 15px;
    margin-bottom: 10px;
  }
  form button {
    width: 100%;
    padding: 8px 16px;
    font-size: 1em;
    color: #333;
  }
  .example {
    padding: 16px 0 0;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 0.8em;
  }
  .meals {
    margin-top: 20px;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    row-gap: 22px;
    column-gap: 30px;
  }
  .menu {
    font-size: 1.5em;
    top: 10px;
    left: 17.5px;
  }
  .navbar {
    padding: 20px 0px;
  }
  .nav-ul {
    width: 100%;
    padding: 10px 15px;

    background-image: linear-gradient(
      to right top,
      #f45151,
      #f84172,
      #f03d95,
      #db48b9,
      #b75ad9,
      #ab61e6,
      #9d69f2,
      #8a70fe,
      #a76dff,
      #c26aff,
      #dc65fe,
      #f45ffb
    );
  }
  .nav-ul li a {
    font-size: 0.7em;
  }
  .nav-ul img {
    width: 150px;
  }
  .meal p {
    padding: 8px 0px;
    font-size: 0.7em;
  }
  .l {
    flex-direction: column;
    justify-self: center;
  }
  .one-meal {
    grid-template-columns: repeat(4, minmax(60px, auto));
    grid-template-areas:
      "im im im im"
      "d d d d";
    margin-top: 5px;
  }
  .common h1 {
    font-size: 0.9em;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-right: 0px;
    align-self: center;
  }
  .common span {
    font-size: 0.85em;
    letter-spacing: 1px;
  }
  .c,
  .a {
    width: 100%;
  }
  .about {
    padding: 5px;
    margin-top: 50px;
    font-size: 0.9em;
    line-height: 1.4;
  }
  .contact {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    grid-template-columns: repeat(4, minmax(50px, auto));
    grid-template-areas:
      "h h h h "
      "a a s s"
      "a a s s"
      "a a s s";
    row-gap: 10px;
    column-gap: 20px;
  }
  .contact header h1 {
    font-size: 1.8em;
  }
  .contact header p {
    font-size: 0.8em;
    letter-spacing: 1px;
    margin: 10px 0;
  }
  .contact .aside div h3 {
    margin-bottom: 5px;
    font-size: 1em;
  }
  .contact .aside div span {
    font-size: 0.8em;
  }
  .contact .aside div {
    margin-bottom: 25px;
  }
  .section h3 {
    margin-bottom: 10px;
    font-size: 1em;
  }
  .section span {
    font-size: 0.8em;
  }
  .social-links {
    width: 100%;
    margin-top: 15px;
    font-size: 1.3em;
  }
  .service {
    margin-top: 40px;
    padding: 40px;
    font-size: 1.5em;
    letter-spacing: 2px;
  }
  .error {
    margin-top: 60px;
    padding: 20px;
    margin-top: 50px;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: 3px;
  }
  .home-btn {
    font-size: 0.7em;
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 0px;
  }
  .loading {
    padding: 15px;
    margin-top: 40px;
    font-size: 1.2em;
    letter-spacing: 4px;
  }
  .nav-ul li a:hover {
    text-decoration: underline wavy #ffffff 1.5px;
  }
}
