@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right top,
    #8492ed,
    #c176d8,
    #ed52a8,
    #fd3a65,
    #eb4b12
  );
  padding: 10px 25px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #f45151,
    #f84172,
    #f03d95,
    #db48b9,
    #b75ad9,
    #ab61e6,
    #9d69f2,
    #8a70fe,
    #a76dff,
    #c26aff,
    #dc65fe,
    #f45ffb
  );
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}
.navbar {
  padding: 25px 10px;
}
.nav-ul {
  justify-content: space-between;
}

.nav-ul img {
  width: 300px;
}
.nav-ul li {
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.nav-ul li a {
  transition: all 0.3s ease;
}
.nav-ul li a:hover {
  text-decoration: underline wavy #ffffff 4px;
  transform: scale(1.1) translateY(-2px);
}
form input {
  font-size: 1.5em;
  padding: 5px 10px;
  color: #333;
  margin-right: 10px;
}
form button {
  padding: 5px 10px;
  font-size: 1.5em;
  color: #333;
}
